body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 80%;
  text-align: center;
}

h2{
  font-family: BebasNeue;
  font-weight:normal;
}

.greenQuestion{
  text-align: left;
  margin-left: 2em;
  color: #00ff40;
  display: block;
}
.question{
  display: block;
  margin-left: 2em;
}

.answerBundle {
  text-align: left;
  margin-top: 2.5em;
  margin-left: 2em;
}

.oneAnswer{
  text-align: left;
  margin-top: 1em;
/*  margin-bottom: 4px;*/
  padding: 5px;
  background-color: #E0E0E0;
}

/*
    REACT CSS TRANSITION GROUP CLASSES
*/
.slide-enter{
  transform: translateX(-100%);
}

.slide-enter.slide-enter-active{
  transform: translateX(0);
  transition: transform .5s ease-out;
}

.slide-leave{
  transform: translateX(0);
}
.slide-leave.slide-leave-active{
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s ease-in;
}

.slide-appear{
  opacity: 0;
}

.slide-appear.slide-appear-active{
  opacity: 1;
  transition: opacity .5s ease-in;
}

@media (min-width: 550px) {
  .container{
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .answerBundle{
    text-align: center;
  }
  .answerBundle  p{
    text-align: left;
  }

  .greenQuestion{
    float: left;
    display: inline-block;

  }

  .submit{
    height: 5em;
    width: 10em;
  }

}
