body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 80%;
  text-align: center;
}

h2{
  font-family: BebasNeue;
  font-weight:normal;
}

.greenQuestion{
  text-align: left;
  margin-left: 2em;
  color: #00ff40;
}

.answerBundle {
  text-align: left;
  margin-left: 2em;
}

.oneAnswer{
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px;
  background-color: #E0E0E0;
}



@media (min-width: 550px) {
  .container{
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .answerBundle{
    text-align: center;
  }
  .answerBundle  p{
    text-align: left;
  }

  .greenQuestion{
    float: left;
    display: inline-block;

  }

  .submit{
    height: 5em;
    width: 10em;
  }

}
